//output:start.html
<!DOCTYPE html>
html(lang="en" dir="ltr")
  head
    // |
    // |--------------------------------------------------------------------------
    // | css
    // |--------------------------------------------------------------------------
    // |
    // |
    // bootstrap 4
    // font-awosome
    
    link(rel='stylesheet' href='libs/css/all.css')
    link(rel='stylesheet' href='libs/css/bootstrap.css')
    //my css
    link(rel='stylesheet' href='libs/css/style.min.css')
    meta(charset="utf-8")
    title index
    
  body
    // start header
    header
    // end header
    // start conten
    .conten
      
    //end contends
    // start footer
    footer
    // end footer
    // |
    // |
    // |
    // |--------------------------------------------------------------------------
    // | javascript
    // |--------------------------------------------------------------------------
    // |
    // |
      
    script(src='libs/js/jquery.js')
    script(src='libs/js/popper.min.js.min.js')
    script(src='libs/js/swiper.min.js')
    script(src='libs/js/bootstrap.min.js')
    script(src='libs/js/main.js')
